  <%- include("header"); -%>



<div class="container">
  <div class="row">
    <div class="col-lg-6 image-column">
      <h2><%=location%></h2>
      <p><%=weatherDescription%></p>
      <p>The temperature is <%=localTemp%>&#176; Celsius </p>
    </div>
    <div class="col-lg-6 text-column">
      <img class="main-image" src=<%=weatherIconUrl%> alt="Can't load image">
    </div>
  </div>


  <%- include("footer"); -%>
